.entryLog {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
    color: whitesmoke;
    width: 50%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    margin: 0em;
}

.journalEntry {
    background-color: black;
    opacity: .8;
}

.journalEntry:hover {
    opacity: 1;
}

.entryHeader {
    font-size: 2em;
    margin-bottom: 5px;
}

.entryDetails {
    color: lightskyblue
}