.entryLog {
    display: flex;
    flex-flow: column nowrap;
    /* height: 100%; */
    background-image: url("https://previews.123rf.com/images/timhester/timhester1707/timhester170700132/82804014-rock-face-texture-of-large-rocky-cliffs-in-black-and-white.jpg");
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    color: whitesmoke;
    /* margin: 0em; */
    width: 60%;
    /* position: fixed; */
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}

.journalEntry {
    /* margin: 1em;
    padding: 1em; */
    background-color: black;
    opacity: .8;
}

.journalEntry:hover {
    opacity: 1;
}

.entryHeader {
    font-size: 2em;
    margin-bottom: 5px;
}

.entryDetails {
    color: lightskyblue
}