.form {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}
.formitem {
   background: rgba(14, 13, 13, 0.6);
   border-radius: 10px;
   margin:.2em;
}

.button {
    color: black;
    text-transform: uppercase;
    background: rgb(135, 206, 250);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
    border: 4px solid #2DA1E7;
    font-weight: bold;
    width: 100px
}

.button:hover {
    background: rgba(135, 206, 250);
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    color: black
}

.buttonDiv {
    
}

.date {
    height: 40px;
    width: 90px
}

.mood {
    height: 50px;
    width: 250px
    
}

.concept {
    height: 100px;
    width: 100px
}

.conceptstext {
    height: 70px
}

.text {
    height: 180px;
}
